<div class="row">
  <div id="carousel-card" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel-card" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-card" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item px-5 active">
        <div class="row">
          <div class="col-md-10 col-lg-10">
            <div class="card">
              <img class="card-img-top" src="./../../assets/images/images/character/Lion-Stand.jpg" height="200px" width="50px">
              <div class="card-body">
                <h4>仕事の名前</h4>
                <p>お仕事詳細</p>
                <ul class="style-ftlist">
                  <li><i class="fas fa-house-user"></i>お仕事名</li>
                  <li><i class="fas fa-calendar-alt"></i>お仕事日付</li>
                  <li><i class="far fa-clock"></i>お仕事時間</li>
                  <li><i class="fas fa-wallet"></i>お給料</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-lg-10">
            <div class="card">
              <img class="card-img-top" src="./../../assets/images/images/character/Lion-Stand.jpg" height="200px" width="50px">
              <div class="card-body">
                <h4>仕事の名前</h4>
                <p>お仕事詳細</p>
                <ul class="style-ftlist">
                  <li><i class="fas fa-house-user"></i>お仕事名</li>
                  <li><i class="fas fa-calendar-alt"></i>お仕事日付</li>
                  <li><i class="far fa-clock"></i>お仕事時間</li>
                  <li><i class="fas fa-wallet"></i>お給料</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-lg-10">
            <div class="card">
              <img class="card-img-top" src="./../../assets/images/images/character/Lion-Stand.jpg" height="200px" width="50px">
              <div class="card-body">
                <h4>仕事の名前</h4>
                <p>お仕事詳細</p>
                <ul class="style-ftlist">
                  <li><i class="fas fa-house-user"></i>お仕事名</li>
                  <li><i class="fas fa-calendar-alt"></i>お仕事日付</li>
                  <li><i class="far fa-clock"></i>お仕事時間</li>
                  <li><i class="fas fa-wallet"></i>お給料</li>
                </ul>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-card" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-card" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
