<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./../../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="./../../assets/stylesheets/page/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header--logo">
        <img
          src="./../../assets/images/Heros-Logo.png"
          alt="ヒーローズロゴ画像"
        />
      </div>
      <nav>
        <ul class="header--nav">
          <li><a href="#" class="officebtn">事業所新規登録</a></li>
          <li><a href="#" class="officebtn-login">事業所ログイン</a></li>
          <li><a href="#" class="herobtn">ヒーロー新規登録</a></li>
          <li><a href="#" class="herobtn-login">ヒーローログイン</a></li>
        </ul>
        <div class="header--hunger--toggle">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times dnone"></i>
        </div>
      </nav>
    </header>
    <main>
      <article class="top-container">
        <section class="top-title">
          <h1>いますぐ、ヒーローになろう</h1>
          <p>少しの時間で参加できる。『好き』を自己成長の力に。</p>
          <div class="top-title__box">
            <div class="top-title__box__contents">
              <img
                src="./../../assets/images/top/Lion-Icon.png"
                alt="事業所アイコン"
              />
              <div class="top-title__box__contents--btn">
                <a href="#" class="officebtn">事業所さんはこちら</a
                ><a href="#" class="officebtn-login">ログイン</a>
              </div>
            </div>
            <div class="top-title__box__contents">
              <img
                src="./../../assets/images/top/Rabbit-Icon.png"
                alt="ヒーローズアイコン"
              />
              <div class="top-title__box__contents--btn">
                <a href="#" class="herobtn">ヒーローズ新規登録</a>
                <a href="#" class="herobtn-login">ログイン</a>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h2 class="section-title">
            <span class="section-title__icon"
              ><i class="fas fa-user-plus" aria-hidden="true"></i></span
            >ミッション紹介
          </h2>
          <div class="workbox-group">
            <div class="workbox">
              <div class="workbox__container">
                <div class="workbox__container__img">
                  <img
                    src="./../../assets/images/work/ordori.jpeg"
                    alt="お仕事画像2"
                  />
                </div>
                <div class="workbox__contents">
                  <span class="worktab--pink worktab__mini">お手伝い</span>
                  <h3>お庭掃除</h3>
                  <p>
                    お庭のお掃除をしてくださる方を大募集お庭のお掃除をしてく
                  </p>
                  <ul>
                    <li><i class="fas fa-calendar-alt"></i>2021/03/31</li>
                    <li><i class="fas fa-clock"></i>10時~17時</li>
                    <li><i class="fas fa-map-marker-alt"></i>大和市</li>
                    <li><i class="fas fa-yen-sign"></i>5,000</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="workbox">
              <div class="workbox__container">
                <div class="workbox__container__img">
                  <img
                    src="./../../assets/images/work/Sdgs-Logo.jpeg"
                    alt="お仕事画像2"
                  />
                </div>
                <div class="workbox__contents">
                  <span class="worktab--yellow worktab__mini">介護</span>
                  <h3>介護の補助</h3>
                  <p>お爺ちゃん、おばあちゃんが好きな人あつまれ・・・・・</p>
                  <ul>
                    <li><i class="fas fa-calendar-alt"></i>2021/03/31</li>
                    <li><i class="fas fa-clock"></i>10時~17時</li>
                    <li><i class="fas fa-map-marker-alt"></i>大和市です</li>
                    <li><i class="fas fa-yen-sign"></i>5,000万円</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="workbox">
              <div class="workbox__container">
                <div class="workbox__container__img">
                  <img
                    src="./../../assets/images/work/top.jpg"
                    alt="お仕事画像3"
                  />
                </div>
                <div class="workbox__contents">
                  <span class="worktab--grayblue worktab__mini">お手伝い</span>
                  <h3>お庭掃除</h3>
                  <p>
                    お庭のお掃除をしてくださる方を大募集お庭のお掃除をしてく
                  </p>
                  <ul>
                    <li><i class="fas fa-calendar-alt"></i>2021/03/31</li>
                    <li><i class="fas fa-clock"></i>10時~17時</li>
                    <li><i class="fas fa-map-marker-alt"></i>つくば市</li>
                    <li><i class="fas fa-yen-sign"></i>5,000円</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h2 class="section-title">
            <span class="section-title__icon"><i class="fas fa-users"></i></span
            >ハロヒロとは
          </h2>
          <div class="about-harohero">
            <div class="about-harohero__img">
              <img
                src="./../../assets/images/top/Comic-Sigotogaaru1.png"
                alt="ハロヒロについて漫画その１"
              />
              <img
                src="./../../assets/images/top/Comic-Sigotogaaru2.png"
                alt="ハロヒロについて漫画その２"
              />
            </div>
            <p>
              「ハロヒロ」とは、すきま時間を活用して働きたい、スキルをシェアしたい、という方々と<br />
              人手を必要としている介護施設を マッチングするサービス です。<br />
              「私も何か人に喜ばれることがしたい」<br />
              「でも、何をしたらいいのかわからない」<br />
              そんな風に思っていませんか？<br />
              実は、介護施設では「介護」以外のミッションもたくさんあり、それをすべて介護職員さんが行っています。<br />
              お話相手や食事の準備、お掃除、IT業務…。<br />
              専門的な知識がなくても出来る、ほんの少しのお手伝いで、大きな笑顔が生まれる事はたくさんあるのです。<br />
              あなた の温かい気持ちとスキル、介護施設で活かしてみませんか？
            </p>
          </div>
        </section>
      </article>
      <div class="header--hunger__contents">
        <ul>
          <li><a href="#">事業所新規登録</a></li>
          <li><a href="#">事業所ログイン</a></li>
          <li><a href="#">ヒーロー新規登録</a></li>
          <li><a href="#">ヒーローログイン</a></li>
        </ul>
      </div>
    </main>
    <footer class="footer-nav">
      <div class="footer-nav__conmanyname">
        <h2>ハロヒロについて</h2>
        <ul>
          <li><a href="#">会社概要</a></li>
          <li><a href="＃">SDGSに対する取り組み</a></li>
          <li><a href="#">利用規約</a></li>
        </ul>
      </div>
      <div class="footer-nav__sns-btn">
        <div class="sns-btn__contets">
          <a href="#" class="btn-social-circle btn-social-circle-twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="sns-btn__contets">
          <a href="#" class="btn-social-circle btn-social-circle-facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="sns-btn__contets">
          <a href="#" class="btn-social-icon-instagram">
            <span class="btn-social-icon-instagram-square"
              ><i class="fab fa-instagram"></i></span
          ></a>
        </div>
      </div>
      <div class="footer-nav__sdgsimg">
        <img src="./../../assets/images/Sdgs-Logo.jpeg" alt="SDGSロゴ" />
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./../../assets/javascripts/header.js"></script>
  </body>
</html>
