/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*
 フォントサイズはremで指定する（大元は10px)
 */
 
html{
  font-size: 10px;
}
body{
  font-family:'メイリオ', 'Meiryo', sans-serif;
  font-size: 1.6rem;
}

/*印刷時のsafariのバグを解消する*/
@media print {
  .container {
    width: auto;
  }
}

/*共通系（使い回し用）*/
.style-text-black{
  color:black;
}
.style-red{
color: red;
}

.style-centertext{
text-align: center;
}
.style-boder{
  border-style: solid;
  border-width: 1px;  
}
.style-underbar{
  text-decoration:underline;/*下線を引く*/
  text-decoration-color:#99FFFF;/*下線を赤色*/
}

.style-grayback{
background-color:#EEEEEE;
}
.style-underline-red{
text-decoration:underline;
text-decoration-color:#FF0000;
}

/*トップページ*/
.style-nav{
  background-color: white;
}

.style-titlehead{
  padding-top: 30px;
  padding-bottom: 5px;
  background-image: url("/assets/tops/taitle-backimg.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}

.style-titlelist{
  padding-left: 0px;
  padding-top: 30px;
  padding-bottom: 5px;
  list-style: none;
  text-align:center;
}

.style-titleimg{
width: 30rem;
height: 40rem;
margin-top: 15rem;
/*画像をリサイズして枠内にきっちり入るようにする*/
/*object-fit: contain;*/
}

.style-helper-loginbtn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ff0000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  border-style: solid;
  border-width: 1px;
}

.style-helper-loginbtn:hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}

.style-helper-newmenbtn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffcc99;     /* 背景色     */
  color: black;
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
.style-helper-newmenbtn :hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}

.style-offices-loginbtn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00ffff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  border-style: solid;
  border-width: 1px;
}
.style-helper-btn:hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}

.style-offices-newmenbtn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffff4d;     /* 背景色     */
  color: black;
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
.style-offices-newmenbtn :hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}

.card{
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color:blue;
  height:40rem;
  width:30rem;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
  background-color: transparent;
}

 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.style-workimg{
  display: block;
  height: 25rem;
  max-width: 100%;
}

/*ログイン画面*/
.style-ftlist{
  padding-left: 0px;
  list-style: none;
  font-size: 1.0rem;
}
.style-jobdata{
  height:2rem;
  width:30rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /*Safari用*/
  -o-text-overflow: ellipsis; /*Opera用*/
}
.sytle-login-img{
  padding:10px 30px 5px;
}

.style-login-back{
  background:#FFFFFF;
}
.style-login{
  background:#FFFFFF;
  /*border: 1px solid rgba(0,0,0,0.2);*/
}
.style-btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*width: 36rem;*/
  height: 4rem;
  border: 1px solid rgba(0,0,0,0.2);
}

.style-btn-social:hover {
  color:black;
}

/*SNSアイコンの設定*/
.style-btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4rem;
  padding: 7px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.style-btn-text{
  color:white;
  position: absolute;/*テキストの高さを中段に揃える*/
  top: 50%; /*親要素を起点に上から50%*/
  left:50%;
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
}
.style-btn-text-black{
  color:black;
  position: absolute;/*テキストの高さを中段に揃える*/
  top: 50%; /*親要素を起点に上から50%*/
  left:50%;
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
}
.sytle-btn-line{
  background:#fff url("/assets/login/line_base.png") no-repeat;
  background-color: #00C300;
  background-position: center center;
  background-size: cover;
}

.sytle-btn-line:hover{
  background:#fff url("/assets/login/line_hover.png") no-repeat;
  background-color: #00C300;
  background-position: center center;
  background-size: cover;
}

.style-btn-line {
  color: #FFFFFF;
  background-color: #00C300;
  border-color: rgba(0,0,0,0.2);
}

.sytle-btn-google{
  background:#fff url("/assets/login/googleicon.svg") no-repeat;
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  background-size: cover;
}

.style-btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.style-btn-twitter{
  color: #fff;
  background-color: #00acee;
}

.sytle-btn-twittericon{
  background:url("/assets/login/twittericon.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.style-btn-apple{
  color: #fff;
  background-color: #000;
}

.sytle-btn-appleicon{
  background:url("/assets/login/apple.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.style-login-btn{
  padding:5px 100px;
}

/*ヘルパーさんメール仮登録送信画面*/
.style-rg-toptext{
  border: lightskyblue solid 2px;
  padding: 20px 0px 20px 0px;
  font-size: 2.0rem;
  /*width: 36rem;*/
}
.style-checkbox-lg {
width: 2rem;
height: 2rem;
vertical-align: middle;
}
.style-text-vertical{
vertical-align: middle;
}

