<div class="style-nav style-smnav-line">
  <%= link_to root_path do %>
    <figure>
      <img src="/assets/Heros-Logo.png" alt="ハロヒロロゴ画像" height="40px" width="134px">
    </figure>
  <% end %>
</div>